.next-prev {
    height: 32px;
}

.next-prev .more-posts .buttons {
    position: absolute;
    margin-left: -30px;
    padding-left: 30px;
    background: url("images/ajax.gif") left center no-repeat;
}

.next-prev .more-posts {
    display: none;
}

.next-prev.started li {
    display: none;
}

.next-prev.started li.more-posts {
    display: block;
}

.inbox_page .next-prev .buttons {
    padding-top: 0;
}
.next-prev .cancel {
    background: #A00 !important;
    color: #FFF !important;
}

.next-prev .cancel:hover {
    background: #D00 !important;
}

#global_notify.new-posts .inner {
    background: #E8E8FF;
}

.new-posts-ajax {
    position: absolute; margin: 8px 0 0 -30px;
}

.loaded-before {
    color: #CCC;
    font-size: 160%;
    margin-bottom: 20px;
}
input.narrow {
    width: 70px;
}
.new-posts {
    line-height: 1.6;
}
.new-posts .buttons {
    margin-top: -8px;
    float: right;
}
.habr-more-save-ok {
    color: green;
    font-size: 11px;
}
html a.user_link {
    font-size: 100%;
}

div.answer > .info.is_new {
    background: #E8E8FF;
}
div.comment_item.is_new {
    background: #E8E8FF;
    padding: 1ex 2ex;
}
.topic-starter {
    background: #fff6f7;
}
.topic-starter.is_new {
    background: #fdd9dd !important;
}
.karma, .rating {
    color: green;
}
